<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    #showHead ("My Simple Webx Application")
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 3.3.5 -->
    <link href="$homeContent.getURI("components/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="$homeContent.getURI("components/font-awesome-4.5.0/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="$homeContent.getURI("components/ionicons/css/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="$homeContent.getURI("components/dist/css/AdminLTE.min.css")">
    <link rel="stylesheet" href="$homeContent.getURI("components/dist/css/skins/all-skins.min.css")">
    <link rel="stylesheet" href="$homeContent.getURI("common/css/app.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="$homeContent.getURI("components/plugins/iCheck/square/blue.css")">
</head>

<body #bodyAttributes ()>

    $screen_placeholder
<hr/>

</body>
</html>
